


/* @import url('./css/editors-layout.css'); */


* {
  box-sizing: border-box;
}
:root {
  color-scheme: light dark;
}

body {
  /* width: 100vw;
  height: 100vh; */
  margin: 0;
  padding: 0;
}

/* Estilo de GRID por default */
.grid {
  display: grid;
  grid-template-rows: 1fr 5px 1fr;
  grid-template-columns: 1fr 5px 1fr;
  width: calc(100vw - 8px);
  height: calc(100vh - 8px);
  width: calc(100dvw - 8px);
  height: calc(100dvh - 8px);
}
.gutter-col {
  grid-row: 1/-1;
  cursor: col-resize;
  background-color: #fff;
}
.gutter-col-1 {
  grid-column: 2;
}
.gutter-row {
  grid-column: 1/-1;
  cursor: row-resize;
  background-color: #fff;
}
.gutter-row-1 {
  grid-row: 2;
}

/* Estilo de Split dinámico */
.split {
  display: flex;
  flex-direction: row;
  height: calc(100vh / 2);
  height: calc(100dvh / 2);
}
.split_item {
  width: calc(100% / 3.3);
  height: calc(100% - 5px) !important;
}
.split_item .editor {
  width: 100%;
  height: 100%;
}
.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
.gutter.gutter-vertical {
  width: 7px;
  height: calc(100vh / 2) !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}



.editor {
  position: relative;
  width: calc(100% - 6px);
  min-height: 24vh;
}
.editor::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: 33px;
  right: 16px;
  bottom: 16px;
  width: 33px;
  height: 33px;
  z-index: 8;
}
.html::after {
  background-image: url('assets/html.svg');
}
/* .html textarea:focus {
  border: 1px solid rgb(227 79 38 / 50%);
} */
.js::after {
  background-image: url('assets/javascript.svg');
}
.css::after {
  background-image: url('assets/css.svg');
}

.preview {
  position: relative;
  padding: .3rem;
  background-color: #fff;
}
iframe {
  width: 100%;
  height: 100%;
}


.preview_unique {
  height: calc(100vh / 2);
  height: calc(100dvh / 2);
}


